@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&family=Imperial+Script&family=Lora:ital,wght@0,400..700;1,400..700&family=Ruda:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&family=Imperial+Script&family=Lora:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ruda:wght@400..900&display=swap');

h1{
    margin: 0;
}

a{
    text-decoration: none;
}

body{
    font-family: Poppins;
}

body header{
    background-color: #046DD5;
    padding: 1em;
}

body header h2{
    margin-top: 0px;
}

body header a{
    color: white;
    text-align: left;
    font-family: Poppins;
    font-weight: normal;
}

#signup a{
    padding: 0em 1em 0em 1em;
}

#signup a:first-child{
    border-right: 1px solid white;
}

body #menu #hamburger{
    display: none;
}

ul{
    padding: 0;
    margin: 0;
}

#menu ul li{
    list-style-type: none;
    font-size: 1.2em;
    padding: 0.5em 0em;
}

ul li a{
    text-align: center;
    color: black;
}

#menu ul li:nth-child(1){
    border-top: 5px solid #E1493E;
}

#menu ul li:nth-child(2){
    border-top: 5px solid #8ABA56;
}

#menu ul li:nth-child(3){
    border-top: 5px solid #5B4282;
}

#menu ul li:nth-child(4){
    border-top: 5px solid #FF8932;
}

#menu ul li:nth-child(5){
    border-top: 5px solid #19B6E9;
}

#menu ul li:nth-child(6){
    border-top: 5px solid #E84C8B;
}

#related{
    padding: 2em 1em;
    background-color: #2A2F33;
    color: white;
}

#related a{
    color: white;
}

#related article p{
    font-weight: normal;
}

#news article img{
    width: 100%;
    margin: 1em 0em;
}

#news article header{
    height: 0px;
    padding: 0px;
}

#news article p{
    margin-top: 0px;
    margin-left: 1em;
    margin-right: 1em;
}

#news article header h1{
    position: relative;
    top: 2em;
    left: 1.5em;
    color: white;
    font-size: 24px;
    width: 9em;
}

body > footer{
    background-color: #2A2F33;
    color: white;
    padding: 0.5em 1em;
    margin-top: 1em;
}

body > footer p{
    margin: 0em;
}

#news article footer{
    background-color: #F4655F;
    color: white;
    padding: 0.5em 1em;
}

#news article p{
    text-align: justify;
}

#news article p:first-of-type::first-letter{
    text-transform: capitalize;
    font-size: 1.7em;
}

#news article footer a{
    color: white;
    text-decoration: underline;
}

#news article footer > *{
    margin-right: 1em;
}

#news .comments{
    margin-right: 0;
}

#news article footer:last-of-type::after{
    content: " comments";
    text-decoration: underline;
}